@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
* {
    box-sizing: border-box;
}
html,
body,
#root {
    height: 100%;
    margin: 0;
}
:root {
    color-scheme: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.img-contain-wrapper .ant-image-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* красим подписи и легенду осей под цвета линий */
.nivo-dual-axis .axis--left text {
    fill: var(--pos-color) !important;
}
.nivo-dual-axis .axis--right text {
    fill: var(--price-color) !important;
}

/* по желанию — осевые линии в те же цвета */
.nivo-dual-axis .axis--left line,
.nivo-dual-axis .axis--left path.domain {
    stroke: var(--pos-color) !important;
}
.nivo-dual-axis .axis--right line,
.nivo-dual-axis .axis--right path.domain {
    stroke: var(--price-color) !important;
}
